<ul class="visible-links">
          <li class="masthead__menu-item masthead__menu-item--lg masthead__menu-home-item"><a href="#about-me">Homepage</a></li>
          
          {% if page.url contains '/english.html' or page.url contains '/en/' %}
            {% assign nav_links = site.data.navigation_en.main %}
          {% else %}
            {% assign nav_links = site.data.navigation.main %}
          {% endif %}

          {% for link in nav_links %}
            <li class="masthead__menu-item"><a href="{{ link.url }}">{{ link.title }}</a></li>
          {% endfor %}
        </ul>
